@import 'reset.less';
@import 'variable.less';

* {
    box-sizing: border-box;
	font-family: 'Open Sans','Microsoft YaHei', Helvetica, Arial, sans-serif;
}

html{
	overflow-y: scroll;
}

#wrapper{
	height: 100%;
}

.header{
	width: 100%;
	padding: 100px 0px;
	color: #ffe;
	position: absolute;
	background-color: #ccdf88;
	.name{
		font-size: 50px;
	}
	z-index: 1001;
}

.cursor{
	cursor: pointer;
}

.nowrap{
	white-space: nowrap;
}

.contact {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

ul li{
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

.center{
	text-align: center;
}

.margin10{
	margin: 5px;
}

.main{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #adbf6e;
	padding: 0 15%;
	padding-top: 400px;
	z-index: 1000;
}

.block{
	width: 25%;
	padding: 100px 0px;
	display: inline-block;
	cursor: pointer;
}

@media (max-width: @max-computer){
	.block{
		width: 50%;
	}
}

.timelines{
	margin:0 30%;
}

.timeline{
	border-left: 5px solid #adbf6e;
	padding-left: 20px;
	position: relative;
	padding-top: 20px;
	.point{
		border-radius: 20px;
		height: 20px;
		width: 20px;
		background-color: #adbf6e;
		position: absolute;
		left: -12px;
	}
	.content{
		font-size: 20px;
	}
}
